<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE OPERADORES</a></li>
            <li class="breadcrumb-item"><a href="/operador/adicionar">NOVO OPERADOR <img src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>


<main class="container">


    <% if(msg != null && typeof msg != 'undefined'){%>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>OPERADOR</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof data !='undefined' ){ var operadores=JSON.parse(data); operadores.forEach(operador=>{%>
                        <tr>
                            <td>
                                <%=operador.idOperador %>
                            </td>
                            <td>
                                <%=operador.nomeOperador %>
                            </td>
                            <td>
                                <a href="/operador/editar/<%= operador.idOperador %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete" onclick='perguntar("<%= operador.idOperador %>", "<%= operador.nomeOperador %>","operador")' data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    href="<%= operador.idOperador %>">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <%}) }%>

                </tbody>
            </table>
</main>
<%- include('../../layout/modals/modalDelete') %>