<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/ordemproducao">LISTA DE ORDEM DE PRODUCAO</a></li>
            <li class="breadcrumb-item"><a>EDITAR ORDEM DE PRODUCAO</a></li>
            <li class="breadcrumb-item"><a href="/ordemproducao/adicionar">NOVO ORDEM PRODUCAO <img
                        src="/img/add-24.png" alt=""></a>
            </li>
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <% var arrOrdemProducao=JSON.parse(ordemProducao); arrOrdemProducao.forEach(el=>{
        ordem = el;
        });
        %>
        <form action="/ordemproducao/editar/salvar" method="post" class="row g-3">
            <input type="hidden" value="<%= ordem.idOrdemProducao%>" name="idOrdemProducao">
            <div class="col-md-2">
                <label class="form-label">DATA</label>
                <% var arrDtLanc=ordem.dataLancamento.split('-'); %>

                    <input type="text" class="form-control" name="dataLancamento" disabled
                        value="<%=`${arrDtLanc[2]}/${arrDtLanc[1]}/${arrDtLanc[0]}`%>">

            </div>
            <div class="col-md-4">
                <label class="form-label">CLIENTE</label>
                <select id="selectClient" name="idCliente" required>
                    <option value=""></option>
                    <% var arrClientes=JSON.parse(clientes); arrClientes.forEach(cliente=>{%>
                        <option <%=ordem.idCliente==cliente.idCliente ? "selected" : "" ; %>
                            value="<%=cliente.idCliente%>">
                                <%=cliente.nomeCliente%>
                        </option>
                        <%}); %>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label">NUMERO</label>
                <input type="text" class="form-control" value="<%= ordem.numeroOrdemProducao %>"
                    name="numeroOrdemProducao" required>
            </div>
            <div class="col-md-2">
                <label class="form-label">LOTE</label>
                <input type="text" class="form-control" value="<%= ordem.loteOrdemProducao %>" name="loteOrdemProducao"
                    required>
            </div>
            <div class="col-md-2">
                <label class="form-label">DATA ENTREGA</label>
                <% var arrDtEnt=ordem.dataEntrega.split('-') %>
                <input type="date" class="form-control" name="dataEntrega"
                        value="<%=`${arrDtEnt[0]}-${arrDtEnt[1]}-${arrDtEnt[2]}`%>">
            </div>
            <div class="col-md-8">
                <label class="form-label">PRODUTO</label>
                <select id="produtoSelect" name="idProduto" required>
                    <option value=""></option>
                    <% var arrProdutos=JSON.parse(produtos); arrProdutos.forEach(produto=>{%>
                        <option <%=ordem.idProduto==produto.idProduto ? "selected" : "" %>
                            value="<%=produto.idProduto%>">
                                <%=produto.descProduto%>
                        </option>
                        <%})%>
                </select>

            </div>
            <div class="col-md-4">
                <label class="form-label">QUANTIDADE</label>
                <input type="text" class="form-control" value="<%= ordem.quantidade %>" name="quantidade" required>
            </div>

            <div class="col-md-4">
                <label class="form-label">TIPO DA ORDEM</label>
                <select id="tipoOrdemProducao" name="idTipoOrdemProducao" required>
                    <option value=""></option>
                    <% console.log(tipoOrdemProducao); var arrTipoOrdem=JSON.parse(tipoOrdemProducao);
                        arrTipoOrdem.forEach(tipoOrdem=>{ %>
                        <option <%=ordem.idTipoOrdemProducao==tipoOrdem.idTipoOrdemProducao ? "selected" : "" ; %>
                            value="<%=tipoOrdem.idTipoOrdemProducao%>">
                                <%=tipoOrdem.descTipoOrdemProducao%>
                        </option>
                        <%})%>
                </select>

            </div>

            <div class="row g-3">
                <div class="col-1">
                    <input type="submit" class="btn btn-success" required value="SALVAR">
                </div>
                <div class="col-1">
                    <a class="btn btn-secondary" href="/ordemproducao">CANCELAR</a>
                </div>
            </div>
        </form>
</main>
<script>
    new TomSelect("#selectClient", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });
    new TomSelect("#produtoSelect", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });
    new TomSelect("#tipoOrdemProducao", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });
</script>