<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE APONTAMENTOS</a></li>
            <li class="breadcrumb-item"><a href="/apontamento/adicionar">NOVO APONTAMENTO <img
                        src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="procurar ordem " aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">PROCURAR</button>
            </form>
        </div>
    </nav>
</div>
<main class="container">
    <% console.log(listaApontamentos);
        
        if(msg !=null && typeof msg !='undefined' ){%>
        <div class="alert alert-secondary" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>DATA</th>
                        <th>CLIENTE</th>
                        <th>PRODUTO</th>
                        <th>NUMERO ORDEM</th>
                        <th>LOTE</th>
                        <th>MAQUINA</th>
                        <th>OPÇOES</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <% 
                    if(typeof listaApontamentos !='undefined' ){ 
                        var arrListaApontamentos=JSON.parse(listaApontamentos);
                        console.log(arrListaApontamentos);
                         arrListaApontamentos.forEach(lista=>{ 
                    %>
                        <tr>
                             <td>
                                <%= lista.idApontCabecalho %>
                            </td>
                            <td>
                                <% var arrDtLanc=lista.data.split('-'); %>
                                    <%= `${arrDtLanc[2]}/${arrDtLanc[1]}/${arrDtLanc[0]}` %>

                            </td>
                            <td>
                                <%= lista.nomeCliente %>
                            </td>
                           
                            <td>
                                <%= lista.descProduto %>
                            </td>
                            <td>
                                <%= lista.numeroOrdemProducao %>
                            </td>
                            <td>
                                <%= lista.loteOrdemProducao %>
                            </td>
                           <td class="text-center"> <%= lista.maquina.descMaquina %></td>
                            <td>
                                <a href="/apontamento/editar/<%= lista.idApontCabecalho %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    onclick='perguntar("<%= lista.idApontCabecalho %>",
                                    "OP: <%= lista.numeroOrdemProducao %> do cliente: <%= lista.nomeCliente %> produto: <%= lista.descProduto %>","apontamento")'
                                    href="/#">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <% }) }%>

                </tbody>
            </table>
</main>

<%- include('../../layout/modals/modalDelete') %>