<div class="container-fluid text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE APONTAMENTOS</a></li>
            <li class="breadcrumb-item"><a href="/apontamento/adicionar">NOVO APONTAMENTO <img
                        src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <label class="form-label">PESQUISAR</label>
            <input class="form-control me-2" type="search" placeholder="procurar" id="filtroGlobal" />
                
        </div>
    </nav>
</div>
<main class="container-fluid">
    <% //console.log(listaApontamentos);
        
        if(msg !=null && typeof msg !='undefined' ){%>
        <div class="alert alert-secondary" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table id="tabelaApontamentos" class="table">
                <thead class="table-dark">
                    <tr>
                        <th data-tipo="numero">#</th>
                        <th data-tipo="data">DATA</th>
                        <th data-tipo="texto">CLIENTE</th>
                        <th data-tipo="texto">PRODUTO</th>
                        <th data-tipo="texto">NUMERO ORDEM</th>
                        <th data-tipo="texto">LOTE</th>
                        <th data-tipo="numero">QUANTIDADE</th>
                        <th data-tipo="texto">OPERADOR</th>
                        <th data-tipo="texto">MAQUINA</th>                        
                        <th data-tipo="texto">OPÇOES</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <% 
                    if(typeof listaApontamentos !='undefined' ){ 
                        var arrListaApontamentos=JSON.parse(listaApontamentos);
                        //console.log(arrListaApontamentos);
                         arrListaApontamentos.forEach(lista=>{ 
                    %>
                        <tr>
                             <td>
                                <%= lista.idApontCabecalho %>
                            </td>
                            <td>
                                <% 
                                var arrDtLanc=lista.data.split('-'); %>
                                    <%= `${arrDtLanc[2]}/${arrDtLanc[1]}/${arrDtLanc[0]}` %>

                            </td>
                            <td>
                                <%= lista.nomeCliente %>
                            </td>
                           
                            <td>
                                <%= lista.descProduto %>
                            </td>
                            <td>
                                <%= lista.numeroOrdemProducao %>
                            </td>
                            <td >
                                <%= lista.loteOrdemProducao %>
                            </td>
                            <td class="text-center"><%= lista.quantidadeProduzido %></td>
                            <td class="text-center"><%= lista.nomeOperador %></td>
                           <td class="text-center"> <%= lista.maquina.descMaquina %></td>
                            <td>
                                <a href="/apontamento/editar/<%= lista.idApontCabecalho %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    onclick='perguntar("<%= lista.idApontCabecalho %>",
                                    "OP: <%= lista.numeroOrdemProducao %> do cliente: <%= lista.nomeCliente %> produto: <%= lista.descProduto %>","apontamento")'
                                    href="/#">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <% }) }%>

                </tbody>
            </table>
</main>

<script>
    $("#filtroGlobal").on("keyup", function(){
        const termo = $(this).val().toLowerCase();
        $("#tabelaApontamentos tbody tr").each(function(){
            const linha = $(this);
            const textoLinha = linha.text().toLowerCase();
            linha.toggle(textoLinha.includes(termo));
        });
    });


</script>

<%- include('../../layout/modals/modalDelete') %>

