<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/apontamento">LISTA DE ORDEM DE PRODUÇÃO</a></li>
            <li class="breadcrumb-item"><a>NOVO ORDEM DE PRODUCAO</a>
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <% var subMotivos=JSON.parse(subMotivos);%>
        <form action="/apontamento/novo/salvar" method="post" class="row g-3">

            <div class="col-md-2">
                <label class="form-label">DATA</label>
                <input type="date" class="form-control" name="data" >
            </div>
            <div class="col-md-4">
                <label class="form-label">MAQUINA</label>
                <select id="selectMaquina" name="idMaquina" >
                    <option value=""></option>
                    <% var arrMaquinas=JSON.parse(maquinas); arrMaquinas.forEach(maquina=>{%>
                        <option value="<%=maquina.idMaquina%>">
                            <%=maquina.descMaquina%>
                        </option>
                        <%}); %>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">LOTE</label>
                <select id="selectOrdem" name="idOrdemProducao" >
                    <option value=""></option>
                    <% var ordemProducao=JSON.parse(ordemProducao); ordemProducao.forEach(ordem=>{%>
                        <option value="<%=ordem.idOrdemProducao%>">
                            <%=ordem.loteOrdemProducao%>
                        </option>
                        <%}); %>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">OPERADOR</label>
                <select id="selectOperador" name="idOperador" >
                    <option value=""></option>
                    <% var operadores=JSON.parse(operadores); operadores.forEach(operador=>{%>
                        <option value="<%=operador.idOperador%>">
                            <%=operador.nomeOperador%>
                        </option>
                        <%}); %>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label"> NOVA LINHA</label>
                <div  style="cursor: pointer;" id="adicionarLinha"><img src="/img/add-green-24.png"></div>
            </div>
             

            <div id="apontamentoGrupo" class="row g-3 border border-secondary">
                <div id="linha" class="row">
                    <div class="col g-2 row">
                        <label class="col-sm-4 form-label"> STATUS</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="codigoSubMotivo[]" maxlength="3"   required>
                        </div>
                    </div>
                    <div class="col g-2 row">
                        <label class="col-sm-4 col-form-label">HORA INICO</label>
                        <div class="col-sm-6">
                            <input type="time" class="form-control sem-relogio" name="horaInicial[]" required>
                        </div>
                    </div>
                    <div class="col g-2 row">
                        <label class="col-sm-4 col-form-label">HORA FIM</label>
                        <div class="col-sm-6">
                            <input type="time" class="form-control sem-relogio" name="horaFinal[]" required>
                        </div>
                    </div>
                    <div class="col g-2 row">
                        <label class="col-sm-6 col-form-label">QUANTIDADE</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="quantidadeProduzido[]" value="0" required>
                        </div>
                    </div>
                    <div class="col g-2 row">
                        <label class="col-sm-6 col-form-label">REFUGO</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="quantidadeRefugo[]" value="0" required>
                        </div>
                    </div>
                    <!--<div class="col g-2 row">                
                        <div class="col-sm-6"style="cursor: pointer;" id="removerLinha"><img src="/img/delete-24.png"></div>
                    </div>-->

                </div>

            </div>

            <div class="row g-3">
                <div class="col-1">
                    <input type="submit" class="btn btn-success" required value="SALVAR">
                </div>
                <div class="col-1">
                    <a class="btn btn-secondary" href="/apontamento">CANCELAR</a>
                </div>
            </div>
        </form>
</main>
<script>

    new TomSelect("#selectMaquina", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });
    new TomSelect("#selectOrdem", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });
    new TomSelect("#selectOperador", {
        allowEmptyOption: true,
        sortField: {
            field: "text"
        }
    });



    document.getElementById("adicionarLinha").addEventListener("click", function () {
        //pega a linha original
        const linhaOriginal = document.querySelector("#linha");
        //clona a linha
        const novaLinha = linhaOriginal.cloneNode(true);
        
        //LIMPA OS DADOS 
        novaLinha.querySelectorAll("input").forEach(input => { input.value = "0" });
        
        //coloca a nova linha apos a linha original
        linhaOriginal.after(novaLinha);
        
    });

    


   
</script>