<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE SUB MOTIVO</a></li>
            <li class="breadcrumb-item"><a href="/submotivo/adicionar">NOVO SUB MOTIVO <img src="/img/add-24.png"
                        alt=""></a>
            </li>
        </ol>
    </nav>
</div>

<main class="container">
    <% if(msg !=null && typeof msg !='undefined' ){ %>
        <div class="alert alert-secondary" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th class="text-center">CODIGO SUBMOTIVO</th>
                        <th class="text-center">SUBMOTIVO</th>
                        <th class="text-center">CODIGO MOTIVO</th>
                        <th class="text-center">MOTIVO</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof data !='undefined' ){ var subMotivos=JSON.parse(data); subMotivos.forEach(subMotivo=>
                        {%>
                        <tr>
                            <td>
                                <%= subMotivo.idSubMotivo %>
                            </td>
                            <td class="text-center">
                                <%= subMotivo.codigoSubMotivo %>
                            </td>
                            <td class="text-center">
                                <%= subMotivo.descSubMotivo %>
                            </td>
                            <td class="text-center">
                                <%= subMotivo.motivo.codigoMotivo %>
                            </td>
                            <td class="text-center">
                                <%= subMotivo.motivo.descMotivo %>
                            </td>
                            <td>
                                <a href="/submotivo/editar/<%= subMotivo.idSubMotivo %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete"
                                    onclick='perguntar("<%= subMotivo.idSubMotivo %>", "<%= subMotivo.codigoSubMotivo %>" + " - " + "<%= subMotivo.descSubMotivo %>","submotivo")'
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <% }) } %>
                </tbody>
            </table>
</main>

<%- include('../../layout/modals/modalDelete') %>