<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE PRODUTO</a></li>
            <li class="breadcrumb-item"><a href="/produto/adicionar">NOVO PRODUTO <img src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>

<main class="container">


    <% if(msg != null && typeof msg != 'undefined'){%>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>PRODUTO</th>
                        <th>CODIGO OMIE</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof data !='undefined' ){ var produtos=JSON.parse(data); produtos.forEach(produto=>{%>
                        <tr>
                            <td>
                                <%=produto.idProduto %>
                            </td>
                            <td>
                                <%=produto.descProduto %>
                            </td>
                            <td>
                                <%=produto.codigoOmie %>
                            </td>
                            <td>
                                <a href="/produto/editar/<%= produto.idProduto %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete" onclick='perguntar("<%= produto.idProduto %>",  "<%= produto.descProduto %>","produto")' data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    href="<%= produto.idMotivo %>">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <%}) }%>

                </tbody>
            </table>
</main>

<%- include('../../layout/modals/modalDelete') %>