<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE TIPO DE PRODUTOS</a></li>
            <li class="breadcrumb-item"><a href="/tipoproduto/adicionar">NOVO TIPO PRODUTO <img src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>


<main class="container">


    <% if(msg != null && typeof msg != 'undefined'){%>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>TIPO PRODUTO</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof data !='undefined' ){ var tipoProdutos=JSON.parse(data); tipoProdutos.forEach(tipoProduto=>{%>
                        <tr>
                            <td>
                                <%=tipoProduto.idTipoProduto %>
                            </td>
                            <td>
                                <%=tipoProduto.descTipoProduto %>
                            </td>
                            <td>
                                <a href="/tipoproduto/editar/<%= tipoProduto.idTipoProduto %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a id="delete" onclick='perguntar("<%= tipoProduto.idTipoProduto %>", "<%= tipoProduto.descTipoProduto %>","tipoproduto")' data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    href="<%= tipoProduto.idTipoProduto %>">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <%}) }%>

                </tbody>
            </table>
</main>
<%- include('../../layout/modals/modalDelete') %>