<script src="/js/recalcular-fila-gravacao.js"></script>
<div class="container-fluid text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/fila-serigrafia/preview">PREVIEW</a></li>
            <li class="breadcrumb-item">
                <h3>MAQUINA FORNO: <%=arrData.nomeForno%>
                </h3>
            </li>

        </ol>
    </nav>
</div>
<main class="container-fluid">
    <form action="" method="post" id="form-fila">
 <%   
        arrData.data.forEach(maquinas=>{
        for(const key in maquinas){
           //console.log(maquinas[key])
            %>
        <h4>
            <% 
            var nomeMaquina = Object.keys(maquinas[key]).pop()%>
            <%=nomeMaquina %>
        </h4>
        <table class="table table-hover" id="table<%= nomeMaquina%>">
            <thead class="table-dark">
                <tr>
                    <td>#</td>
                    <td>OP</td>
                    <td>CLIENTE</td>
                    <td>PRODUTO</td>
                    <td>GRAVAÇÃO</td>
                    <td>QTD PEDIDO</td>
                    <td>QTD PRODUZIDO</td>
                    <td>COMEÇA</td>
                    <td>TERMINA</td>
                    <td>opções</td>
                </tr>
            </thead>
            <tbody>
               
                    <%
                        for(const i in maquinas[key][nomeMaquina].queueProducts){
                             //console.log(maquinas[key][nomeMaquina].queueProducts[i].idMaquina)
                        %>
                        <tr class="linha">
                            <input type="hidden" class="idFilaGravacao" value="<%=maquinas[key][nomeMaquina].queueProducts[i].idFilaGravacao%>">
                            <input type="hidden" class="idMaquina" value="<%=maquinas[key][nomeMaquina].queueProducts[i].idMaquina%>">
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].ordenacao%></td>
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].ordemProducao%></td>
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].cliente%></td>
                            <td>
                                <div class="row">
                                    <%=maquinas[key][nomeMaquina].queueProducts[i].produto%>
                                </div>
                                <div class="row">
                                    <p class="d-inline-flex gap-1">
                                        <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#collapse<%= maquinas[key][nomeMaquina].queueProducts[i].idOrdemProducao%>"
                                            role="button" aria-expanded="false" aria-controls="collapse<%= maquinas[key][nomeMaquina].queueProducts[i].idOrdemProducao%>">
                                            HISTORICO APONTAMENTOS
                                        </a>
                                    </p>
                                    <%
                                        for(const h in arrHistorico){
                                            arrHistorico[h].forEach(historico=>{
                                                if(maquinas[key][nomeMaquina].queueProducts[i].idOrdemProducao == historico.idOrdemProducao &&
                                                    maquinas[key][nomeMaquina].queueProducts[i].idMaquina == historico.idMaquina
                                                ){%>                                                   
                                                    <div class="collapse" id="collapse<%= maquinas[key][nomeMaquina].queueProducts[i].idOrdemProducao%>">
                                                        <div class="row">
                                                            <div class="col-sm-4"><%=historico.data%></div>
                                                            <div class="col-sm-4"><%=historico.operador%></div>
                                                            <div class="col-sm-4"><%=historico.quantidade%></div>
                                                        </div>
                                                    </div>
                                                <%}
                                            })
                                        }

                                       
                                        %>   
                                          
                                            
                                            

                                </div>
                            
                                
                            </td>
                           
                            <td class="text-center"><%=maquinas[key][nomeMaquina].queueProducts[i].numeroGravacao%></td>
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].orderQuantity%></td>
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].quantityProduced%></td>
                            <td><%=
                                maquinas[key][nomeMaquina].queueProducts[i].previsionStart.toLocaleString()
                                %></td>
                            <td><%=maquinas[key][nomeMaquina].queueProducts[i].previsionEnd.toLocaleString()%></td>
                             <td>
                            
                           <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdropTransfer"
                                onclick='transferir("<%=maquinas[key][nomeMaquina].queueProducts[i].idFilaGravacao%>","<%=maquinas[key][nomeMaquina].queueProducts[i].idMaquina%>", "<%=arrData.idForno%>")'><img
                                        src="/img/transfer-24.png"></a>

                            <!--<a><img src="/img/delete-24.png"></a>-->
                            <a href="/fila-serigrafia/finalizar/<%=maquinas[key][nomeMaquina].queueProducts[i].idFilaGravacao%>"><img src="/img/check-24.png"></a>
                        </td>
                        </tr>
                        <%}
                       
                    %>
              
            </tbody>
        </table>
        <br><br>
    <%} }) %>

     <input type="submit" class="btn btn-success" value="CALCULAR">
    </form>
   

       




</main>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tables = document.querySelectorAll('.table');
        Array.from(tables).forEach(elemtent => {
            new Sortable(document.querySelector(`#${elemtent.id} tbody`), {
                animation: 150,
                ghostClass: "ghost",
                
            })
        })
    })

</script>