<div class="container text-center">
    <nav aria-label="breadcrumb">
        <div class="row">
            <div class="col p-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">INICIO</a></li>
                    <li class="breadcrumb-item">
                        <h3>SELECIONE UMA MAQUINA OU FORNO</h3>
                    </li>
                </ol>
            </div>
            <div class="col p-4">
                 <h3>CONSIDERAR</h3>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">VELOCIDADE MAQUINA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">VELOCIDADE PRODUTO</label>
            </div>
        </div>
        </div>
        

    </nav>
</div>
<div class="row">
    <% arrForno.forEach(forno=>{%>
        <div class="col-sm-6">
            <div class="row main" style="border: 1px solid black; border-radius: 5px; padding: 10px; margin: 10px;">
                <div class="col-sm-8" id="mainDiv<%=forno.descricaoForno%>">
                    <div class="accordion" id="accordionExample">
                        <% arrData.forEach(dataForno=>{
                            if(dataForno.idForno == forno.idForno){
                            dataForno.maquinario.forEach(maquinario =>{
                            arrMaquina.forEach(maquina =>{
                            if(maquina.idMaquina == maquinario.idMaquina && maquina.idSetor == 2){%>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse<%=maquina.descMaquina+dataForno.idForno%>"
                                        aria-expanded="true"
                                        aria-controls="collapse<%=maquina.descMaquina+dataForno.idForno%>">
                                        <%= maquina.descMaquina %> - <%= maquina.modelo %>
                                    </button>
                                </h2>
                                <div id="collapse<%=maquina.descMaquina+dataForno.idForno%>"
                                    class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <% maquinario.produtos.forEach(produto=>{%>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-sm-8"><%=produto.nomeProduto %></div>  
                                                        <div class="col-sm-2 text-center">GRAVAÇÃO: <%= produto.numeroGravacao %></div>  
                                                    </div>                                                
                                                </li>
                                            <%})%>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <%} }) }) } }) %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h2><a href="/fila-serigrafia/verfila/<%=forno.idForno%>">
                                    <%=forno.descricaoForno%>
                                </a></h2>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <%}) %>

</div>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        var main = document.querySelectorAll(".main");
        console.log(main[0]);
        Array.from(main).forEach(element => {

            /*new Sortable(document.querySelector(`#${element.id} .accordion`,{
                    animation: 150,
                    ghostClass: "ghost",
                    group: "table"
                }
            ))*/
        })


    })


</script>