<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE ORDENS DE PRODUCAO</a></li>
            <li class="breadcrumb-item"><a href="/ordemproducao/adicionar">NOVO ORDEM PRODUCAO <img
                        src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="procurar ordem " aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">PROCURAR</button>
            </form>
            
            <ul class="d-flex list-gropu">
                <div class="navbar-brand text-center">LEGENDA:</div>
                <li class="list-group-item"><img src="/img/edit-24.png" alt="">EDITRA</li>
                <li class="list-group-item"><img src="/img/trash-24.png" alt="">EXCLUIR</li>
                <li class="list-group-item"><img src="/img/view-24.png" alt="">VER PRODUÇÃO</li>
            </ul>
        </div>
    </nav>
</div>
<main class="container">
    <%  
        
        if(msg !=null && typeof msg !='undefined' ){%>
        <div class="alert alert-secondary" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>DATA</th>
                        <th>CLIENTE</th>
                        <th>PRODUTO</th>
                        <th>NUMERO ORDEM</th>
                        <th>LOTE</th>
                        <th>TITPO</th>
                        <th>QUANTIDADE</th>
                        <th>DATA ENTREGA</th>
                        <th>STATUS</th>
                        <th>OPÇOES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof ordemProducao !='undefined' ){ var arrOrdemProducao=JSON.parse(ordemProducao);
                        var arrProducao = JSON.parse(list_apont_sum_qtd_grop_idOp);
                        console.log(arrProducao);
                    %>
                    
                
                      <%  arrOrdemProducao.forEach(ordem=>{
                            
                        %>

                        <tr id="idLinha<%=ordem.idOrdemProducao%>">
                            <td>
                                <% arrProducao.forEach(producao =>{
                                    var quantidadeProduzidoPintura = 0;
                                    if(ordem.idOrdemProducao == producao.idOrdemProducao && producao.idSetor == 1 && producao.quantidade != 0)
                                    {
                                        quantidadeProduzidoPintura = producao.quantidade; %>
                                        <input type="hidden" value="<%= quantidadeProduzidoPintura %>" id="quantidadeProduzidoPintura">
                                    <%}%>
                                    
                                <%});%>

                                <%= ordem.idOrdemProducao %>
                            </td>
                            <td>
                                <% var arrDtLanc=ordem.dataLancamento.split('-'); %>
                                    <%= `${arrDtLanc[2]}/${arrDtLanc[1]}/${arrDtLanc[0]}` %>

                            </td>
                            <td>
                                <%= ordem.cliente.nomeCliente %>
                            </td>
                            <td>
                                <%= ordem.produto.descProduto %>
                            </td>
                            <td>
                                <%= ordem.numeroOrdemProducao %>
                            </td>
                            <td>
                                <%= ordem.loteOrdemProducao %>
                            </td>
                            <td>
                                <%= ordem.tipo_ordem_producao.descTipoOrdemProducao %>
                            </td>
                            <td id="quantidadeOrdem">
                                <%= ordem.quantidade %>
                            </td>

                            <td>
                                <% var arrDtEnt=ordem.dataEntrega.split('-') %>
                                    <%= `${arrDtEnt[2]}/${arrDtEnt[1]}/${arrDtEnt[0]}` %>
                            </td>
                            <td><%= ordem.status.descricaoStatus %></td>
                            <td>
                                <a href="/ordemproducao/editar/<%= ordem.idOrdemProducao %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>|
                                <a href="<%= ordem.idOrdemProducao %>" data-bs-toggle="modal"data-bs-target="#staticBackdropStatus"
                                    onclick="statusProducao(document.querySelector('#idLinha<%=ordem.idOrdemProducao%>'))">
                                    <img src="/img/view-24.png" alt="">
                                </a>|
                                <a id="delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    onclick='perguntar("<%= ordem.idOrdemProducao %>",
                                    "OP: <%= ordem.numeroOrdemProducao %> do cliente <%= ordem.cliente.nomeCliente %>","ordemproducao")' href="<%= ordem.idOrdemProducao %>">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <% }) }%>

                </tbody>
            </table>
</main>

<%- include('../../layout/modals/modalDelete') %>